<!DOCTYPE html>
<html ng-app="App" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Steam Buyer</title>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="popup.css">
    <style>
      body {width: 800px; padding-top: 15px;}
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12" ng-if="!appendForm">
          <div class="b-loader"></div>
        </div>
        <div class="col-xs-12" ng-if="appendForm && !appendForm.url">
          <h4>None steam listing page</h4>
        </div>
        <div class="col-xs-12" ng-if="appendForm && appendForm.url">
          <form name="forms.appendForm" class="form-horizontal" ng-submit="appendSteamListing(forms.appendForm)">
            <div class="form-group">
              <label class="col-xs-3 control-label text-left">Append url for watching</label>
              <div class="col-xs-9">
                <div class="input-group">
                  <input type="text" class="form-control" name="url" placeholder="listing url" readonly ng-model="appendForm.url" ng-required>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" ng-disabled="forms.appendForm.$invalid || forms.appendForm.$$buzy"><strong>+</strong></button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table class="table b-table">
            <tbody>
              <tr ng-if="!storage.listings.length">
                <td>Empty list</td>
              </tr>
              <tr ng-repeat="item in storage.listings track by item.$timestamp">
                <td width="1%">
                  <img ng-src="{{item.thumbnail}}" width="64" height="64" alt="">
                </td>
                <td>
                  <a ng-href="{{item.url}}"><strong ng-bind="item.title"></strong></a>
                </td>
                <td width="1%">
                  <span class="text-nowrap" ng-bind="item.price_label"></span>
                </td>
                <td width="1%">
                  <button class="btn btn-default">Buy</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/angular.min.js"></script>
    <script src="config.js"></script>
    <script src="storage.js"></script>
    <script src="popup.js"></script>
  </body>
</html>
